<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>
    <h1>Игры</h1>
<!--    <ul>-->
<!--        <li>Atomic Heart <button>Купить</button></li>-->
<!--        <li>Cyderpank <button>Купить</button></li>-->
<!--        <li>PayDay <button>Купить</button></li>-->

<!--    </ul>-->
    {% for in games %}
    <p>{{i}}</p>
    {{ endfor }}
<!--    <p>Atomic Heart <button>Купить</button></p>-->
<!--    <p>Cyderpank <button>Купить</button></p>-->
<!--    <p>PayDay <button>Купить</button></p>-->
    <button>Вернуться обратно</button>
</body>
</html>